.courseList {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  min-height: 100%;
  color: #ffffff;
}
.courseTable {
  width: 100%;
  border-spacing: 2.5rem;
  border-collapse: separate;
  border: 5px solid rgb(0, 0, 0);
  height: 100%;
  color: #000000;
  background-color: white;
  color:#ffffff;
  background-color: black ;
  mix-blend-mode: difference;
}

.credits {
  margin-left: 5px !important;
}
.courseTable th{
  border: 5px solid #000000;
  background-color: rgb(255, 255, 255);
  border-color: #000000;
  border-radius: 20px;
  color: #000000;
}

.courserTable td{
  border: 5px solid #000000;
  background-color: rgb(255, 255, 255);
  border-color: #000000;
  border-radius: 20px;
  color: #000000;
}
.tableBody > td {
  border: 5px solid #000000;
}